#content {
	max-width:38.250em;
	text-align:center;
}

#title {
	
}

#center-container {
	margin-bottom: 2.813em
}

#local-contact {
	margin-bottom:0.313em
}

#grower {
	margin-right:0.625em;
}

a#apt {
	margin-left:0.625em;
}

#contact-info {
	margin-bottom:1.250em;
}

a#tel {
	margin-right:0.625em;
}

a#sms {
	margin-left:0.625em;
}

img {
	max-width:100%;
	width:38.250em;
	height: auto;
}
