@font-face {
font-family: futura;
src: url(/fonts/Futura.ttc);
font-weight:medium;
}


#content {
	max-width:38.250em;
	text-align:center;
}

#title {
	background:#333;
	margin-bottom: 0.938em;
}

a {
	font-size:24px;
}

h1 {
	color:#fff;
	font-family: futura;
}

p {
	
}

#center-container {
	margin-bottom: 2.813em
}

#local-contact {
	margin-bottom:0.313em
}

#grower {
	font-family: futura;
	font-size:24px;
	margin-right:0.125em;
}

#apt {
	font-family: futura;
	font-size:22px;
	margin-left:0.125em;
}

#contact-info {
	margin-bottom:1.250em;
}

a#tel {
	font-family: futura;
	margin-right:0.625em;
}

a#sms {
	font-family: futura;
	margin-left:0.625em;
}

img {
	max-width:100%;
	width:38.250em;
	height: auto;
}
